.geocoder-pin-right{
    display:none !important;
}
div.mapbox-directions-step-maneuver{
    background-color:#ffffff;
}
.mapboxgl-ctrl-geocoder--icon-search{
  transform: translateX(190px) ;
}
.suggestions-wrapper{
    top: 80%;
    z-index: 1000;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}
.mapboxgl-ctrl-geocoder{
    position: relative;
    z-index: 1;
}